<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
        <br/>
        <label>
            First Name:<br/>
            <input type="text" formControlName="firstName">
        </label>
        <br/>
        <label>
            Last Name:<br/>
            <input type="text" formControlName="lastName">
        </label>
        <br/>
        <div formGroupName="address">
            <br/>
            Address<br/>
            <label>
                Address 1:<br/>
                <input type="text" formControlName="address1">
            </label>
            <br/>
            <label>
                Address 2:<br/>
                <input type="text" formControlName="address2">
            </label>
            <br/>
            <label>
                State:<br/>
                <input type="text" formControlName="state">
            </label>
            <br/>
            <label>
                Zip Code:<br/>
                <input type="text" formControlName="zip">
            </label>
            <br/>
        </div>
        <div formArrayName="mobiles">
            <h3>Enter Mobile Number:</h3>
            <button (click)="addMobileNumber()">Add New Mobile</button>

            <div *ngFor="let mob of mobiles.controls;let i=index">
                <Label>Mobile {{i+1}}</Label>
                <input type="text" [formControlName]="i">
            </div>
        </div>
        <br/>
        <button type="submit" [disabled]="!userProfileForm.valid"> Submit</button>
</form>