<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <br/>
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>
    <br/>
    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>
    <br/>
    <label>
        Age:
        <input type="text" formControlName="age">
    </label>
    <br/>
    <label>
        Email:
        <input type="text" formControlName="email">
    </label>
    <br/>
    <button type="submit" [disabled]="!userProfileForm.valid"> Submit</button>
</form>