<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <br/>
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>
    <br/>
    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>
    <br/>
    <label>
        Age:
        <input type="text" formControlName="age">
    </label>
    <br/>
    <label>
        Email:
        <input type="text" formControlName="email">
    </label>
    <br/>
    <div formGroupName="address">
        <label>
            Address 1:
            <input type="text" formControlName="address1">
        </label>
        <br/>
        <label>
            Address 2:
            <input type="text" formControlName="address2">
        </label>
        <br/>
        <label>
            State:
            <input type="text" formControlName="state">
        </label>
        <br/>
        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>
        <br/>
    </div>
    <button type="submit" [disabled]="!userProfileForm.valid"> Submit</button>
</form>